@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.icon,
.material-symbols-outlined {

	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;

}

@font-face {
	font-family: 'Khmer OS Siemreap';
	src:
		local('Khmer OS Siemreap Regular'),
		url(https://fonts.gstatic.com/s/siemreap/v30/Gg82N5oFbgLvHAfNl1YXlg4hLmpf.woff2) format('woff2');
}

* {
	font-family: 'Times New Roman', 'Khmer OS Siemreap', Times, serif;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}