meta(name="google-adsense-account" content="ca-pub-4203398835901681")
script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4203398835901681' crossorigin='anonymous')