doctype html
html(lang="km")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    meta(charset="UTF-8")
    meta(name="description" content="Easy Tools ជាឧបករណ៍ងាយៗសម្រាប់សម្រួលដល់ការងារផ្សេងៗទាក់ទងនឹងការ បង្រៀន និងរៀន សម្រាប់លោកគ្រូអ្នកគ្រូដើម្បីពន្លឿនការងារ និងចំណេញពេលវេលា ព្រមទាំងសប្បាយរីរាយផងដែរ។")
    meta(name="keywords" content="ឧបករណ៍, បម្លែង, លទ្ធផល, ពិន្ទុ, ដំណោះស្រាយ, ងាយៗ, ងាយ, ឧបករណ៍, Tools, Easy, Easy tools")
    meta(name="author" content="EasyTools")
    meta(name="robots" content="index, follow")
    meta(name="language" content="en, km")

    <!-- Open Graph Meta Tags for Social Sharing -->
    meta(property="og:title" content="Easy Tools")
    meta(property="og:description" content="Easy Tools ជាឧបករណ៍ងាយៗសម្រាប់សម្រួលដល់ការងារផ្សេងៗទាក់ទងនឹងការ បង្រៀន និងរៀន សម្រាប់លោកគ្រូអ្នកគ្រូដើម្បីពន្លឿនការងារ និងចំណេញពេលវេលា ព្រមទាំងសប្បាយរីរាយផងដែរ។")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://easy-tools-1999.web.app/")
    meta(property="og:image" content="https://easy-tools-1999.web.app/images/logo.png")

    <!-- Twitter Card Meta Tags -->
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Easy Tools")
    meta(name="twitter:description" content="Easy Tools ជាឧបករណ៍ងាយៗសម្រាប់សម្រួលដល់ការងារផ្សេងៗទាក់ទងនឹងការ បង្រៀន និងរៀន សម្រាប់លោកគ្រូអ្នកគ្រូដើម្បីពន្លឿនការងារ និងចំណេញពេលវេលា ព្រមទាំងសប្បាយរីរាយផងដែរ។")


    include ./partials/adsence.pug
    title Easy Tools
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')

  include ./partials/nav.pug

  main
    .container
      p Easy Tools ជាឧបករណ៍ងាយៗសម្រាប់សម្រួលដល់ការងារផ្សេងៗទាក់ទងនឹងការ បង្រៀន និងរៀន សម្រាប់លោកគ្រូអ្នកគ្រូដើម្បីពន្លឿនការងារ និងចំណេញពេលវេលា ព្រមទាំងសប្បាយរីរាយផងដែរ។
      p ឧបករណ៍ដែលមានសម្រាប់លោកគ្រូអ្នកគ្រូប្រើប្រាស់ក្នុងពេលនេះមានដូចជា៖

      include tools.pug
      each tool,i in tools
        if i != 0
          hr
        h2.counter= tool.name
          a(href=tool.link)
            span.icon.ml-1(style="text-indent: 0") link
        p= tool.description
    br
    br

  include partials/footer.pug

  script(type='module').
    import './fonts/fonts.css'
    import './styles/global.scss'
  script(src='./helpers/link.helper.ts').
