-
	const tools = [
		{
			"name": "Sis to Geip",
			"link": "/EasyTools/sis2geip",
			"description": "ជាឧបករណ៍សម្រាប់សម្រួលដល់លោកគ្រូអ្នកគ្រូ ICT ដែលត្រូវបញ្ចូលពិន្ទុក្នុងកម្មវិធី SIS និងបន្ទាប់មកត្រូវនាំចេញ (Export) ដើម្បីបញ្ចូលក្នុងកម្មវិធី (Geip) តែមានភាពពិបាកព្រោះតែជួឈ (Column) ក្នុងកម្មវធីទាំងពីរមានភាពខុសគ្នា ហើយឈ្មោះក៏មិនតាមលំដាប់ដូចគ្នាផងដែរ។ កម្មវិធីនេះនឹងជួយសម្រួលដល់លោកគ្រូអ្នកគ្រូដោយបន្ថែមជួរឈដែលខ្វះឱ្យគ្រប់ និងរៀបឈ្មោះតាមលំដាប់លំដោយបានត្រឹមត្រូវ បន្ទាប់មកលោកគ្រូគ្រាន់តែចម្លង (Copy) និងបិទភ្ជាប់ (Paste) ជាការស្រេច ឬគ្រាន់តែបន្ថែម ឬលុបឈ្មោះសិស្សដែលលើស ឬខ្វះប៉ុណ្ណោះ។ កម្មវិធីនិងជួយពន្លឿនការងាររបស់លោកគ្រូអ្នកគ្រូបានពី ៨០ ទៅ ៩០ ភាគរយលឿនជាងការធ្វើការងារតាមបែបប្រពៃណី។"
		},
		{
			"name": "Easy Order",
			"link": "/EasyTools/easyorder",
			"description": "ជាឧបករណ៍សម្រាប់តម្រៀប (Sort) បញ្ជី (List) មួយឱ្យដូចនឹងបញ្ជីមួយទៀត។"
		},
		{
			"name": "Easy Grade",
			"link": "/EasyTools/easygrade",
			"description": "ជាឧបករណ៍មួយដែលជួយសម្រួលដល់លោកគ្រូអ្នកគ្រូមុខវិជ្ជាដែលមិនចេះ ឬមិនសូវស្ទាត់ក្នុងការសរសេររូបមន្ដ Excel ឬមិនចង់គណនាដោយដៃ ដោយគ្រាន់តែជ្រើសរើសពិន្ទុពេញរបស់លោកគ្រូអ្នកគ្រូ បន្ទាប់មកបិទភ្ជាប់ (Paste) ឈ្មោះ ភេទ​ និងពិន្ទុរបស់សិស្សជាការស្រេច។ លោកគ្រូអ្នកគ្រូអាចចម្លង (Copy) ឬក៏ទាញយក (Download) CSV ទៅប្រើប្រាស់បានភ្លាមៗ ដោយឧបករណ៍បានរកចំនួនសិស្សសរុប និងសិស្សតាមនិទ្ទេសនីមួយៗរួចជាស្រេច។"
		},
		{
			"link": "/EasyTools/easyteam",
			"name": "Easy Team",
			"description": "ជាឧបករណ៍មួយដែលជួយសម្រួលដល់លោកគ្រូអ្នកដែលចង់បែងចែកសិស្សជាក្រុមតាមបែបជ្រើសរើសដោយចៃដន្យ​ (ប្រូបាប)"
		},
		{
			"link": "/EasyTools/honorchart",
			"name": "Easy Honor Chart",
			"description": "ជាឧបករណ៍មួយដែលជួយសម្រួលដល់លោកគ្រូអ្នកដែលត្រូវការបង្កើតតារាងកិត្តិយសសិស្ស"
		},
	]